<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width">

        {% block stylesheets %}{% endblock %}

        <link href="{{ asset('css/jquery-ui/ui-lightness/jquery-ui-1.9.2.custom.css') }}" rel="stylesheet" media="screen" />

        {% stylesheets filter='yui_css' output='/css/generic.css'
            '@MunKirjatMainBundle/Resources/css/normalize/normalize.css'
            '@MunKirjatMainBundle/Resources/css/main.css'
            '@MunKirjatMainBundle/Resources/less/base.less'
            '@MunKirjatMainBundle/Resources/less/main.less'
            '@XiAjaxBundle/Resources/assets/css/errorizers.css'
            '@MunKirjatUserBundle/Resources/less/login.less'
        %}

        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <script type="text/template" id="tpl-favourite-author">
            <li><%= firstName %> <%=lastName %> (<%= amount %>)</li>
        </script>

        <script type="text/template" id="tpl-generic">
            <li><%= name %></li>
        </script>

        <header>
            <nav class="mobile" id="menu"><ul></ul></nav>
        </header>

        <section id="section-frontpage" class="container">
                {% block content %}{% endblock %}
        </section>

        <section id="section-about" class="container">

        </section>

        <section id="section-login" class="container">
            {% include 'MunKirjatUserBundle:Login:login.js.twig' %}
        </section>

        <section id="section-new-author" class="container">
            {% include 'MunKirjatBookBundle:Author:new.js.twig' %}
        </section>

        <section id="section-list-authors" class="container">
            {% include 'MunKirjatBookBundle:Author:list.js.twig' %}
        </section>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
        <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js') }}"></script>

        <script type="text/javascript">
            var App = App || {};

        </script>

        {% javascripts output="/js/generic.js" filter="?yui_js"
            '@MunKirjatMainBundle/Resources/js/modernizr.js'
            '@MunKirjatMainBundle/Resources/js/json2.js'
            '@MunKirjatMainBundle/Resources/js/underscore.js'
            '@MunKirjatMainBundle/Resources/js/backbone-min.js'
            '@XiAjaxBundle/Resources/assets/js/jquery.form.js'
            '@XiAjaxBundle/Resources/coffee/ajax-abstract-logic.coffee'
            '@XiAjaxBundle/Resources/coffee/ajax-form.coffee'
            '@XiAjaxBundle/Resources/coffee/ajax-loader.coffee'
            '@MunKirjatMainBundle/Resources/coffee/model/TestModel.coffee'
            '@MunKirjatMainBundle/Resources/coffee/model/AuthorModel.coffee'
            '@MunKirjatMainBundle/Resources/coffee/view/TestView.coffee'
            '@MunKirjatMainBundle/Resources/coffee/view/FrontPageView.coffee'
            '@MunKirjatMainBundle/Resources/coffee/view/AboutView.coffee'
            '@MunKirjatMainBundle/Resources/coffee/view/LoginView.coffee'
            '@MunKirjatMainBundle/Resources/coffee/view/AuthorView.coffee'
            '@MunKirjatMainBundle/Resources/coffee/view/AuthorListView.coffee'
            '@MunKirjatMainBundle/Resources/coffee/collection/AuthorCollection.coffee'
            '@MunKirjatMainBundle/Resources/coffee/router/TestRouter.coffee'
            '@MunKirjatMainBundle/Resources/coffee/model/menu/MenuItemModel.coffee'
            '@MunKirjatMainBundle/Resources/coffee/view/menu/MenuItem.coffee'
            '@MunKirjatMainBundle/Resources/coffee/view/menu/Menu.coffee'

            'bundles/fosjsrouting/js/router.js'
            'js/fos_js_routes.js'

            '@MunKirjatMainBundle/Resources/coffee/main.coffee'
        %}

        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            window.baseUrl = '{{ app.request.getBaseURL() }}';
            Routing.setBaseUrl(window.baseUrl);
        </script>

        <script type="text/javascript">

            $(document).ready(function() {

                var dispatcher = _.extend({}, Backbone.Events);

                var menu = new App.Menu({el: $('nav#menu'), dispatcher: dispatcher});

                $.ajax({
                    url: Routing.getBaseUrl() + '/allowed-actions',
                    dataType: 'json',
                    success: function(data) {
                        menu.buildMenu(data['logged-in'], data['data']);
                        menu.render();
                        new App.TestRouter({dispatcher: dispatcher});
                        Backbone.history.start();
                    }
                });
            });

        </script>

        {% block javascripts %}{% endblock %}

    </body>
</html>
