<article>
    <div class="col _33">
        <h2>{{ 'stats.currently-reading'|trans }}</h2>

        <% if (currently_reading) { %>
            <a href="<%=Routing.getBaseUrl() + '/#book/' + currently_reading.id %>">

                <%
                    var startedReading = moment(currently_reading.startedReading.date);
                    var now = moment();
                    var daysRead = now.diff(startedReading, 'days') + 1;

                    print(currently_reading.title + " (" + startedReading.format('DD.MM.YYYY') + ")");
                %>
            </a>
            <br/>{{ 'stats.days-read'|trans }}: <%= daysRead %>

            <% if (has_open_reading_session) { %>
                <p><a href="<%= Routing.getBaseUrl() + '/#reading-session' %>">{{ 'stats.continue-session'|trans }}</a></p>
            <% } else { %>
                <p><a href="<%= Routing.getBaseUrl() + '/#reading-session' %>">{{ 'stats.new-session'|trans }}</a></p>
            <% } %>
        <% } else { %>
            {{ 'stats.nothing-at-the-moment'|trans }}
        <% } %>
    </div>

    <div class="col _33">
        <h2>{{ 'stats.latest-read-book'|trans }}</h2>

        <a href="<%=Routing.getBaseUrl() + '/#book/' + latest_read_book.id %>">

        <%
            var startedReading = moment(latest_read_book.startedReading.date);
            var now = moment(latest_read_book.finishedReading.date);
            var daysRead = now.diff(startedReading, 'days') + 1;

            print(latest_read_book.title + " (" + startedReading.format('DD.MM.YYYY') + ")");
        %>
        </a><br/>
        {{ 'stats.days-read'|trans }}: <%= daysRead %>
    </div>

    <div class="col _33">
        <h2>{{ 'stats.latest-added-book'|trans }}</h2>

        <a href="<%=Routing.getBaseUrl() + '/#book/' + latest_added_book.id %>"><%= latest_added_book.title %></a>
    </div>
</article>

<article id="bookshelf">
    <div class="col _33">
        <h2>{{ 'bookshelf.favourite-authors'|trans }}</h2>

        <ul>
            <% _.each(favourite_authors, function(author) {
                var compiled = _.template($('#tpl-favourite-author').html() );

                print(compiled({
                    id:         author[0].id,
                    firstName:  author[0].firstName,
                    lastName:   author[0].lastName,
                    amount:     author.amount
                }));
            });
            %>
        </ul>

    </div>

    <div class="col _33">
        <h2>{{ 'bookshelf.recently-read'|trans }}</h2>

        <ul>
            <% _.each(recently_read, function(book) {
                var compiled = _.template($('#tpl-generic').html() );

                print(compiled({
                    id:     book.id,
                    name:   book.title
                }));
            });
            %>
        </ul>
    </div>

    <div class="col _33">
        <h2>{{ 'bookshelf.unread'|trans }}</h2>

        <ul>
            <% _.each(unread_books, function(book) {
                var compiled = _.template($('#tpl-generic').html() );

                print(compiled({
                    id:     book.id,
                    name:   book.title
                }));
            });
            %>
        </ul>
    </div>

</article>

<article id="book-statistics">
    <h2>{{ 'stats.statistics'|trans }}</h2>

    <div class="col _50">
        <h3>{{ 'stats.books-in-bookshelf'|trans }}</h3>
        <p><%= book_count %></p>

        <h3>{{ 'stats.authors-in-bookshelf'|trans }}</h3>
        <p><%= author_count %></p>

        <h3>{{ 'stats.unread-books'|trans }}</h3>
        <p><%= unread_book_count %></p>

        <h3>{{ 'stats.pages-read'|trans }}</h3>
        <p><%= read_page_count %></p>

        <h3>{{ 'stats.unrated-books'|trans }}</h3>
        <p><%= unrated_book_count %></p>
    </div>

    <div class="col _50">
        <h3>{{ 'stats.slowest-read-time'|trans }}</h3>
        <p><%= numeral(parseFloat(slowest_pace) ).format('00.00') %> days</p>

        <h3>{{ 'stats.fastest-read-time'|trans }}</h3>
        <p><%= numeral(parseFloat(fastest_pace) ).format('00.00') %> days </p>

        <h3>{{ 'stats.average-read-time'|trans }}</h3>
        <p><%= numeral(parseFloat(average_pace) ).format('00.00') %> days</p>

        <h3>{{ 'stats.estimated-time'|trans }}</h3>
        <p><%= numeral(parseFloat(estimated_time_to_read_all) ).format('00.00') %> years</p>

        <h3>{{ 'stats.average-book-price'|trans }}</h3>
        <p><%= numeral(parseFloat(average_book_price.average_price) ).format('00.00') %>&euro; (<%= average_book_price.amount %> books)</p>

        <h3>{{ 'stats.money-spent-on-books'|trans }}</h3>
        <p><%= numeral(parseFloat(money_spent_on_books.book_sum) ).format('00.00') %>&euro; (<%= money_spent_on_books.amount %> books)</p>
    </div>
</article>